<!DOCTYPE html>
<html lang="en">
<head>
  <title>Uudised</title>

  <%- include("../partials/pais.ejs") %>

    <link rel="stylesheet" href="uudised.css">
  
</head>
<body>

    <div class="container">
        <div class="row pt-1">
            <div class="col-12 col-md-5 d-flex">
                <img class="logo" src="/assets-matk/matkalogo.jpg" alt="">
                <div class="paisnimi">
                    MATKA KLUBI
                </div>
            </div>
            <div class="col-12 col-md-7 pais-menyy">
            <%- include("../partials/menyy.ejs") %>
            </div>
        </div>

<div class="jumbotron text-center">
  <h1>Uudised</h1>
</div>

<div id="valjund"></div>


</div>
<script src="matkaklubi.js"></script>
</body>
</html>